#container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;

  span {
    color: gray;
    font-size: 24px;
    cursor: pointer;

    &.rated,
    &:hover,
    &:hover ~ span {
      color: orange;
    }

    transition: color 0.3s ease-in-out;
  }

  &.readOnly {
    span {
      cursor: default;

      &:hover:not(.rated),
      &:hover ~ fa-icon:not(.rated) {
        color: gray;
      }
    }
  }
}
